<%- include('header') %>

    <div class="One">
        <h2><%=lechat.name%></h2>
            <p><%=lechat.age%> ans</p>
            <p><%=lechat.description%></p>
            <img src="/images/<%=lechat.image%>" />
    </div> 
<%- include('footer') %>